<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> TEST API </title>
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" />
</head>
<body class="pt-5">
  <div id="app" class="container">
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
              <label for="string">Contient</label>
              <input class="form-control mr-2" id="string" type="text" v-model="request.string">

              <label for="valid">Valide</label>
              <select class="form-control mr-2" id="valid" v-model="request.valid">
                <option value="">Indifférent</option>
                <option>1</option>
                <option>0</option>
              </select>

              <label for="def">Def contient</label>
              <input class="form-control mr-2" id="def" type="text" v-model="request.def">

              <select class="form-control mr-2" v-model="request.domain" multiple>
                <option value="">Indifférent</option>
                <option v-for="d in domains" :value="d.id">
                  {{ d.medValueShort }} - {{ d.modValueShort }}
                </option>
              </select>

            <span class="btn btn-sm btn-primary" @click="search">Rechercher</span>
        </form>
        <hr>
        <span class="btn btn-sm btn-primary" @click="nama">Listes Arbres reliés</span>
      </div>
    </div>

    <div v-if="results" class="pt-3">
      <span v-if="results['hydra:view']['hydra:first']">
        <span class="btn btn-secondary btn-sm" :data-url="results['hydra:view']['hydra:first']" @click="goTo">Première page</span>
      </span>
      <span v-if="results['hydra:view']['hydra:previous']">
        <span class="btn btn-secondary btn-sm" :data-url="results['hydra:view']['hydra:previous']" @click="goTo"><</span>
      </span>
      <span v-if="results['hydra:view']['hydra:next']">
        <span class="btn btn-secondary btn-sm" :data-url="results['hydra:view']['hydra:next']" @click="goTo">></span>
      </span>
      <span v-if="results['hydra:view']['hydra:last']">
        <span class="btn btn-secondary btn-sm" :data-url="results['hydra:view']['hydra:last']" @click="goTo">Dernière page</span>
      </span>
      <h3 class="pt-3">{{ results['hydra:totalItems'] }} résultats</h3>
      <div v-for="result in results['hydra:member']" class="card mb-3">
        <h5 class="card-header">{{ result.cleanLemma }}</h5>
        <ul class="list-group list-group-flush" v-for="sense in result.senses">
          <li class="list-group-item">
            <span class="badge badge-secondary">{{sense.domain.medValueShort}} - {{sense.domain.modValueShort}}</span>
            <span v-html="sense.def"></span>
            <h6 class="mt-3" v-if="sense.cits">Citations</h6>
            <ul class="list-group" v-for="cit in sense.cits">
              <li class="list-group-item" v-html="cit.biblText">
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
  <script src="js/test.js"></script>
</body>
</html>
